/* SubjectToggleSwitch.css */
/*
.subject-toggle-switch {
    position: relative;
    width: 100px;
    display: inline-block;
    user-select: none;
}

.subject-toggle-input {
    display: none;
}

.subject-toggle-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 30px;
    background-color: #ccc;
    transition: background-color 0.3s;
    height: 30px;
    position: relative;
}

.subject-toggle-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s;
}

.subject-toggle-inner::before,
.subject-toggle-inner::after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.subject-toggle-inner::before {
    content: "부동산";
    background-color: #4caf50;
    color: white;
    text-align: center;
}

.subject-toggle-inner::after {
    content: "주식";
    background-color: #2196f3;
    text-align: center;
}

.subject-toggle-switcher {
    display: block;
    width: 22px;
    height: 23px;
    margin: 1px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 68px;
    border: 2px solid #ddd;
    border-radius: 30px;
    transition: all 0.3s;
}

.subject-toggle-input:checked + .subject-toggle-label .subject-toggle-inner {
    margin-left: 0;
}

.subject-toggle-input:checked + .subject-toggle-label .subject-toggle-switcher {
    right: 0;
}
*/